<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<!-- The = in the <%= %> is for variables  -->
	<p><%= name %></p>

	<ul>
		<% for(var i=0; i<5; i++) { %>
			<li>Tuna <%= i %></li>
		<% } %>
	</ul>
  </body>
</html>